/* # Typographic base
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@mixin include-font($path:"../assets/fonts/", $name: arial, $weight: normal, $style: normal){
	@font-face{
		font-family: $name;
		src:url('#{$path}#{$name}.eot');
		src:url('#{$path}#{$name}.eot?#iefix') format('embedded-opentype'),
			url('#{$path}#{$name}.woff') format('woff'),
			url('#{$path}#{$name}.ttf') format('truetype'),
			url('#{$path}#{$name}.svg#icon') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

	/* # Imports and variable
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Playfair+Display:400,400italic,700,700italic,900,900italic|Pacifico:400,700|Istok+Web:400,700,400italic,700italic|Cookie:300,500|Roboto:100,300,400,500,700,900|Roboto+Condensed:300,300i,400,400i,700,700i|Lora:400,700,400italic,700italic|Nunito:400,300,700|Ubuntu:400,700italic,500italic,400italic,300italic,700,500,300|Open+Sans:400,800,700,600,300,300italic,400italic,600italic,800italic,700italic|Oswald:400,300,700|Merriweather:400,300,700,900,300italic,400italic,700italic,900italic|Quicksand:400,700,300|Raleway:100,200,300,400,500,600,700,800,900|Raleway+Dots|EB+Garamond|Libre+Baskerville:400,400italic,700);

		@import url('//fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Noto-Serif:400,400i,700,700i');
		@import url('//fonts.googleapis.com/earlyaccess/notosansthai.css');
		@import url('//fonts.googleapis.com/earlyaccess/notosanstibetan.css');
		@import url('//fonts.googleapis.com/earlyaccess/notosanssc.css');

		$title-size: 2.4rem;
		$text-size: 1.5rem;
		$line-height: 1.6;
		$baseline: $text-size * $line-height;

		$punchline-font: "Roboto", sans-serif;
		$title-font: "Roboto", Helvetica, Arial, sans-serif;
		$nav-font: "Noto Sans", sans-serif;
		$text-font: "Noto Serif", serif;

		$title-color: color("grey", "darken-2");
		$text-color: color("grey", "darken-2");

	/* # Core
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		html { font-size: 62.5%; }
		* {
			text-rendering: optimizeLegibility;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		}
		body {
		  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
		  line-height: $line-height;
		  font-weight: 300;
		  font-family: $text-font;
		  color: $title-color;
			font-style: normal;
			svg {
				fill: currentColor;
			}
			::selection {
				background: $title-color;
				color: white;
				text-shadow: none;
				text-decoration: none;
				outline: 0;
				background-image: none;
			}
		}
	/* # Titles
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		h1, h2, h3, h4, h5, h6 {
			//font-feature-settings: 'dlig', 'liga', 'lnum', 'kern'; // juste pour conseil emploi
			font-family: $title-font;
			font-weight: 100;
			margin-top: 0;
			margin-bottom: 2rem;
			letter-spacing: .05rem;
			color: darken($title-color, 10%);
			//display: inline-block;
			&a { font-weight: inherit; }
			.icon {
				font-size: inherit;
				margin-right:5px;
			}
		}

		h1 { font-size: $title-size * 2.0833334; line-height: 1.2;  letter-spacing: 0; } // 1.25
		h2 { font-size: $title-size * 1.75; line-height: 1.25; letter-spacing: 0; } // 1.15
		h3 { font-size: $title-size * 1.50; line-height: 1.3;  letter-spacing: 0; } // 1.05
		h4 { font-size: $title-size * 1.25; line-height: 1.35; letter-spacing: 0; } // 1.50
		h5 { font-size: $title-size; line-height: 1.5;  letter-spacing: 0; } // 0.75
		h6 { font-size: $title-size * 0.75; line-height: 1.6;  letter-spacing: 0; } // 2.2

	/* # Paragraphs
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

 		p, blockquote, li, q {
 			font-feature-settings: 'kern', 'onum', 'liga';
 			word-wrap: break-all;
 			font-weight: 300;
			color: $text-color;
		 	margin-bottom: 2rem;
			margin-top: 0;
		 	&:after {
		 		clear:both;
		 	}
 		}

		em, i, .i, .italic     { font-style: italic; letter-spacing: 0.1rem; }
		strong, b, .b, .bold   { font-weight: 600!important; }
		small, p.small         { font-size: 90%; }
		big, .big		           { font-size: 110%; }

		.lettrine:first-letter {
			float: left;
			color: $title-color;
			font-size: $text-size * 3 + 0.5rem;
			line-height: 4rem;
	    padding-top: 4px;
	    padding-right: 4px;
	    padding-left: 0px;
		}

		.lead	{
			color:$title-color;
			font-weight: 200;
			font-size: 2.1rem;
			b {
				font-weight: 600;
			}
			&.lettrine:first-letter {
				float: left;
				color: $title-color;
				font-size: $text-size * 5 + 0.5rem;
				line-height: $text-size * 5 + 0.5rem;
				padding-top: 7px;
				padding-right: 8px;
				padding-left: 3px;
			}
		}

		p.latin { font-family: "Noto Sans";  }
		p.thai { font-family: "Noto Sans Thai"; }
		p.tibetan { font-family: "Noto Sans Tibetan"; }
		p.chinese { font-family: "Noto Sans Sc"; }

	/* # Helpers
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		.breakword 			{ word-wrap: break-word; }
		.normal-wrap 		{ word-wrap: normal; }
		.inherit-wrap 	{ word-wrap: auto; }

		.caps					{ font-variant: small-caps; }
		.uppercase 		{ text-transform: uppercase; }
		.lowercase 		{ text-transform: lowercase; }
		.capitalize 	{ text-transform: capitalize; }
		.upper-first	{ display:block; &:first-letter { text-transform: uppercase; }  }

		.unselectable 	{ user-select: none; }

		.justify { text-align: justify;}

		/* # Icons
		–––––––––––––––––––––––––––––––––––––––––––––––––– */

		@include include-font("../assets/fonts/icons/", "icomoon");

		@keyframes spin {
		  0% {
		    transform: rotate(0deg);
		  }

		  100% {
		    transform: rotate(359deg);
		  }
		}

		@keyframes flip {
		  0% {
		      transform: rotate(0deg);
		  }
		  15% {
		      transform: rotate(-25deg);
		  }
		  70% {
		      transform: rotate(195deg);
		  }
		  85% {
		      transform: rotate(173deg);
		  }
		  100% {
		      transform: rotate(180deg);
		  }
		}

		.flag, .social {
		  border-radius: 2px;
		  display:inline-block;
		  background-size: cover;
		  &.-x2 { width: $text-size * 3; height: (($text-size * 3) / 3) * 2; }
		  &.-x3 { width: $text-size * 4; height: (($text-size * 4) / 3) * 2; border-radius:5px; }
		  &.-x4 { width: $text-size * 5; height: (($text-size * 5) / 3) * 2; border-radius:5px; }
		  &.-x5 { width: $text-size * 6; height: (($text-size * 6) / 3) * 2; border-radius:5px; }
		}

		.icon {
		    /* use !important to prevent issues with browser extensions that change fonts */
		    font-family: 'icomoon' !important;
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    line-height: 1;
		    text-rendering: geometricPrecision;
		    font-size: $text-size;

		    &.-x2 { font-size: $text-size * 2; }
		    &.-x3 { font-size: $text-size * 3; }
		    &.-x4 { font-size: $text-size * 4; }
				&.-x5 { font-size: $text-size * 5; }
		    &.-rotate-45 { transform: rotate(45deg); display: inline-block;}
		    &.-spin { animation: spin 0.8s infinite linear; display: inline-block; }

		}


		/* # Code
		–––––––––––––––––––––––––––––––––––––––––––––––––– */

		code {
			padding: .2rem $text-size / 2;
			margin: 0 0.1rem;
			white-space: nowrap;
			box-shadow: inset 1px 1px rgba(0, 0, 0, 0.04);
			background: #fafbfb;
			border-radius: 4px;
			display:inline;
		}

		pre {
			margin: 0;
			white-space:pre;
			white-space:pre-wrap;
			word-break:break-all;
			word-wrap:break-word;
			& > code {
				display: block;
				padding: 2rem 2.5rem;
				white-space: pre;
				margin-bottom:$text-size;
			}
		}



		/* # Links
		–––––––––––––––––––––––––––––––––––––––––––––––––– */

		$background-color: #fff !default
		$link-color: color("primary", "base") !default
		$link-color-active: color("primary", "darken-1") !default
		$link-underline-color: color("primary", "base") !default
		$link-underline-color-active: color("primary", "darken-1")!default
		$link-underline-width: 1px !default
		$link-underline-offset: 2px !default

		@mixin underline($color: $link-underline-color, $weight: $link-underline-width, $offset: $link-underline-offset) {
		  background-image: linear-gradient(to top, transparent, transparent $offset, $color $offset, $color ($offset + $weight), transparent ($offset + $weight))
		}

		a:not(.button) {
		  display: inline-block;
		  color: rgba(0,0,0,0.8);
		  transition: color 200ms ease;
		  &:hover, &:focus {
		    color: rgba(0,0,0,1);
		  }
		  &[href^="http://"][target="_blank"] {
		    margin-right: 13px;
				position: relative;
		    &:after {
		        content: "";
		        background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"> <g transform="translate(0,-52)"><g transform="matrix(-0.33458243,0.33458243,-0.33458243,-0.33458243,5243.4717,-2524.4629)"><path d="m11681,3975.4,0.887-0.8873-6.024-6.0243,15.785,0,0-1.3076-15.785,0,6.165-6.1644-0.888-0.8873c-2.568,2.5685-5.137,5.137-7.705,7.7055,2.522,2.5218,5.043,5.0436,7.565,7.5654z"/></g></g></svg>');
		        display: inline-block;
		        width: 15px;
		        height: 15px;
		        top: 5px;
		        right: -15px;
		        position:absolute;
		    }
		  }
		}



		.dark a:not(.button) {
		  color: color-contrast($link-color);
		  &:hover, &:focus {
		    color: color-contrast($link-color-active);
		  }
		}


		a:not(.button), u {
			cursor:pointer;
			text-decoration: none;
			outline: 0;
			&:hover 	{ outline: 0;}
			&:active 	{ outline: 0; }
			&:focus	 	{  outline: 0; }
		}

		p a {
			text-decoration: underline!important;
		}

		a.-custom {
		  text-decoration: none;
		  position: relative;
		  display:inline;
		  text-shadow: -1px -1px 0 $background-color, 1px -1px 0 $background-color, -1px 1px 0 $background-color, 1px 1px 0 $background-color;
		  @include underline($link-color, 1px, 2px);
		  &:hover, &:focus {
		    @include underline($link-color-active, 1px, 2px);
		  }
		}

		u {
		  cursor:default;
		  text-decoration: none;
		  position: relative;
		  text-shadow: -1px -1px 0 $background-color, 1px -1px 0 $background-color, -1px 1px 0 $background-color, 1px 1px 0 $background-color;
		  @include underline($text-color, 1px, 0px);
		}


			/* # Select

			<div class="select">
				<select required="" >
					<option value="lib">Libéral</option>
					<option value="craft">Artisanal</option>
					<option value="commercial">Commercial</option>
				</select>
			</div>

			–––––––––––––––––––––––––––––––––––––––––––––––––– */

		.select {
			display: inline-block;
			height: auto;
			margin-bottom: $text-size;
			background-color: #fff;
			border: 1px solid #D1D1D1;
			border-radius: 4px;
			box-shadow: none;
			box-sizing: border-box;
			position:relative;
			transition: all 200ms ease-in-out;
			overflow: hidden;
			min-width:180px;
			box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.4);
			&:after {
				content: '';
				width: 0;
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -3px;
				border-width: 6px 4px;
				border-style: solid;
				pointer-events: none;
				border-color: color("grey", "base") transparent transparent transparent;
			}
			&, > * {
				cursor: pointer;
			}
			&.-large {
				width:100%;
			}

			select {
				height:41px; // fix ie
				padding: $text-size / 2;
				margin: 0;
				box-sizing: border-box;
				color:black;
				background: transparent;
				border: 0;
				outline: 0;
				text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
				width: 100%;
				-webkit-user-select: none;
				-webkit-appearance: none;
				-moz-appearance:none; // fix moz arorw
				&::-ms-expand {
				 	display:none;
				}
			}
			select::-ms-expand {
				display:none;
			}
		}


		/* # List
		–––––––––––––––––––––––––––––––––––––––––––––––––– */

		ul, ol { list-style-type: none; }

		ul {
			margin-top: $text-size;
			margin-bottom: $text-size;
			ul {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		li {
			margin-bottom: $text-size / 2;
		}

		ul.ul 				{ padding-left:20px; list-style-type: circle; }
		ul.ul ul 			{ padding-left:20px; list-style-type: disc; }
		ul.ul ul ul 		{ padding-left:20px; list-style-type: square; }

		ol.ol 				{ padding-left:20px; list-style-type: decimal; }
		ol.ol ol 			{ padding-left:20px; list-style-type: lower-alpha; }
		ol.ol ol ol 		{ padding-left:20px; list-style-type: lower-greek; }


		/* # Baseline
		–––––––––––––––––––––––––––––––––––––––––––––––––– */

		@mixin show-baseline($text-size: $baseline, $color: rgba(255,255,255,0.5)) {
			background-image: linear-gradient(to bottom, $color 0, rgba(255,255,255,0) 1px);
			background-repeat: repeat-y;
			background-size: 100% $text-size;
			position:relative;
			&:after {
				content: "";
		    width: 100%;
		    height: 80%;
		    position: absolute;
		    display: block;
		    top: 0;
		    left: 0;
		    padding-top: 1.8rem;
				padding-top: $text-size * 1.1;
				background-image: linear-gradient(to bottom, $color 0, rgba(255,255,255,0) 1px);
		    background-repeat: repeat-y;
				background-size: 100% $text-size * 0.5;
		    z-index: -1;
				opacity:0.5;
			}
		}

		// .show-baseline {
		// 	padding-top: $text-size / 2;
		// 	@include show-baseline($baseline, color('grey', "lighten-3"));
		// }
